{% extends "base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tempore illo omnis aliquam fugit totam et beatae maiores ipsum debitis iusto, ea eos tenetur nihil sit deleniti esse autem! Ea?</p>
{% endblock %}
